.idea
.vscode
node_modules
cache
dist/
assets/thumbs/dictGenerate.js
**/webp
**/avif
.env

packages/
.claude
CLAUDE.md

tsconfig.tsbuildinfo
vite.config.js
vite.config.d.ts

src/shared/lib/fsm/window/
src/shared/lib/fsm/game/