{
	"singleQuote": true,
	"jsxBracketSameLine": true,
	"tabWidth": 4,
	"useTabs": true,
	"printWidth": 120,
	"endOfLine": "lf",
	"semi": true,
	"overrides": [
		{
			"files": ".ts?x",
			"options": {
				"parser": "typescript"
			}
		}
	]
}
