{
  "singleQuote": true,
  "jsxBracketSameLine": true,
  "tabWidth": 4,
  "useTabs": true,
  "printWidth": 80,
  "endOfLine": "lf",
  "semi": true,
  "overrides": [
    {
      "files": ".ts?x",
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
