.bed {

	background-color: #762a07;
	width: 120px;
	height: 160px;
	border-radius: 10px;

	color: #fff;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;

}