.bed {

  background-color: #762a07;
  width: 100px;
  height: 120px;
  border-radius: 10px;

  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}